@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --header: #2C3E50;
  --bg-body: #F5F7FA;
  --text-white: #FFF;
  --text-primary: #2C3E50;
  --text-secondary: #7F8C8D;
  --button-orange: #E67E22;
  --button-blue: #3498DB;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border-style: none;
}

body {
  font-family: "Quicksand", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5.5rem;
  padding: 0 3rem;
  background-color: var(--header);
  color: var(--text-white);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}

.header h1 {
  font-size: 1.8rem;
}

.header .search {
  background-color: #152739;
  padding: 12px;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all .5s ease;
}

.header .search:hover {
  transform: rotate(90deg);
  font-weight: bold;
}

.header i {
  font-size: 1.5rem;
}

.main {
  display: flex;
  color: var(--text-white);
  margin: 3rem;
}

.addBook {
  flex-basis: 60%;
  align-self: flex-start;
  background-color: var(--header);
  margin-right: 3rem;
  padding: 1.5rem 1.5rem 2.5rem;
  border-radius: 12px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}

.addBook h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: #152739;
  padding: 1rem 0;
  border-radius: 12px;
}

.addBook .bookFormGroup {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.addBook .bookFormGroup input {
  font-size: 1rem;
  font-family: "Quicksand",sans-serif;
  font-weight: 500;
}

.addBook .bookFormSubmit {  
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-size: .9rem;
  margin-top: 2.5rem;
  padding: .5rem 1rem;
  background-color: var(--button-blue);
  color: var(--text-white);
  border-radius: 5px;
  transition: .3s;
}

.addBook .bookFormSubmit:hover {
  background-color: #2572a5;
}

.addBook .bookFormGroup label {
  font-size: 1.2rem;
}

.addBook .bookFormGroup input {
  border-radius: 5px;
  padding: .7rem;
}

.bookList {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}

.bookList .incompleteBookList {
  margin-bottom: 1rem;
}
.bookList .incompleteBookList,
.bookList .completeBookList {
  background-color: var(--header);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}

.bookList .incompleteBookList h2,
.bookList .completeBookList h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: #152739;
  padding: .8rem;
  border-radius: 8px;
}

.bookList .bookItem {
  display: flex;
  justify-content: space-between;
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
  border-bottom: 2.5px solid rgba(21, 39, 57, 0.7);
  padding-bottom: 1.5rem;
}

.bookList .bookItem div:first-child {
  display: flex;
  flex-direction: column;
}

.bookList .bookItem:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.bookList .bookItem .bookItemButton {
  display: flex;
  flex-direction: column;
  row-gap: .7rem;
  justify-content: center;
}

.bookList .bookItem button {
  background-color: var(--button-orange);
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 11px;
  color: var(--text-primary);
  cursor: pointer;
  transition: .3s;
}

.bookList .bookItem button:hover {
  background-color: #cb2d2d;
}

.searchBookContainer {
  position: absolute;
  background-color: #152739;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 3rem;
  border-radius: 10px;
  opacity: 0;
  transition: .3s ease;
}

.searchBookContainer.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.searchBookContainer h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

#searchBook {
  display: flex;
  width: 400px;
  gap: 8px;
}
.searchBookContainer button,
.searchBookContainer input {
  font-size: 1rem;
  font-family: "Quicksand",sans-serif;
  padding: 4px 8px;
}

.searchBookContainer button {
  cursor: pointer;
  flex-wrap: nowrap;
}

.searchBookContainer input {
  width: auto;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .addBook, 
  .bookList {
    width: 100%;
  }

  .bookList {
    margin-top: 1rem;
  }
}